name: Checks

on:
  pull_request:
    types: [ opened, synchronize ]

jobs:
  test:
    runs-on: ubuntu-latest
    permissions:
      checks: write
      pull-requests: write
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-java@v5
        with:
          java-version: 17
          distribution: temurin
      - uses: gradle/actions/setup-gradle@v5
      - run: ./gradlew check
      - uses: dorny/test-reporter@v2
        if: always()
        with:
          name: Tests
          path: "**/test-results/**/*.xml"
          reporter: java-junit
          fail-on-empty: false

  builds:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-java@v5
        with:
          java-version: 17
          distribution: temurin
      - uses: gradle/actions/setup-gradle@v5
      - run: ./gradlew shadowJar

  merge:
    runs-on: ubuntu-latest
    needs: [ test, builds ]
    permissions:
      pull-requests: write
      issues: write
      repository-projects: write
    if: github.actor == 'dependabot[bot]'
    steps:
      - name: Enable auto-merge for Dependabot PRs
        run: gh pr merge --rebase "$PR_URL"
        env:
          PR_URL: ${{github.event.pull_request.html_url}}
          GH_TOKEN: ${{secrets.AUTH_TOKEN}}