name: Coverage Report

on:
  push:

jobs:
  codacy:
    runs-on: ubuntu-latest
    name: codacy-coverage-reporter
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-java@v5
        with:
          java-version: 17
          distribution: temurin
      - uses: gradle/actions/setup-gradle@v5
      - run: ./gradlew check
      - uses: codacy/codacy-coverage-reporter-action@v1
        with:
          project-token: ${{ secrets.CODACY_PROJECT_TOKEN }}
          coverage-reports: "**/reports/jacoco/**/jacoco*.xml"